{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'button.css' %}">
  </head>
  <body>
    <div class="list">
      <h2 style="font-family: serif; text-indent: 25px" >Меню графиков</h2>
      <ul>
        <li><span><a href={{registrations_url}}>Пользователи</a></span></li>
        <li><span><a href={{parameters_url}}>Статистика использования параметров</a></span></li>
      </ul>
    </div>
  </body>
</html>